/* Reset some default styles for consistent rendering across browsers */

@font-face {
  font-family: 'SF Pro Display';
  src: url('path/to/SF-Pro-Display-Regular.woff2') format('woff2'),
       url('path/to/SF-Pro-Display-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display", sans-serif;

}


/* header and navbar */


header {
  background-color: #333;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: auto;
}

.navbar li {
  display: inline-block;
  margin-left: 10px;
}

/* homepage body section */
.homepage {
  text-align: center;
  padding: 0 8s0px;
}

.main-title {
  text-align: left;
  color: black;
}

.main-title p {
  font-size: 28px;
  align-items: left !important;
}

.image-space {
  max-width: 100%;
  margin-bottom: 20px;

}

.first-image img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.second-image img {
  width: 500px;
  height: 700px;

  transform: rotate(360deg);
}

.third-image {
  background-color: #dddddd;
}

.content-over-img-first {
  display: flex;
  justify-content: flex-end;
}

.content-over-img-first ul {
  list-style: none !important;
  margin-right: 10px;
  position: absolute;
}

.content-over-img-second ul {
  list-style: none !important;
  margin-left: 10px;
  
}








/* carasousel section */

.carousel-container {
  position: relative;
  width: 80vh;
  /* Adjust as needed */
  height: 110vh;
  /* Adjust as needed */
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  flex: 0 0 100%;
  display: none;
  position: relative;
}

.carousel-slide.active {
  display: block;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-label {
  position: absolute;
  bottom: 10px;
  left: 30%;
  transform: translateY(120%);
  padding: 10px;
  /* background-color: rgba(0, 0, 0, 0.7); */
  color: #000;
  /* font-size: 60px;
    font-weight: bold; */
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel-slide.active .carousel-label {
  opacity: 1;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-200%);
  
  color: #000;
  border: none;
  padding: 10px;
  font-size: 28px;
  font-weight: 700;
  background: none;
}

.carousel-arrow-left {
  left: 10px;
}

.carousel-arrow-right {
  right: 10px;
}

.carousel-arrow-left {
  left: 10px;
  margin-right: 20px; /* Increase the margin to create more space */
}

.carousel-arrow-right {
  right: 10px;
  margin-left: 20px; /* Increase the margin to create more space */
}




/* contact page section */
.contact-page {
  padding: 50px;
  background-color: #f4f4f4;
}

/* footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Laptops */
@media (max-width: 1920px) {}

/* Tablet */
@media (max-width: 1024px) {}

@media (max-width: 2048px) {}

@media (max-width: 2160px) {}

@media (max-width: 2732px) {}

/* phone */
@media (max-width: 320px) {}

@media (max-width: 390px) {

  
  .logo {
    font-size: 10px;
  }

  .homepage {
    padding: 0px 10px;
  }

  .main-title {
    font-size: 15px;
    padding-top: 20px;
    margin: 20px;
  }

  .main-title p {
    font-size: 15px;
  }

  .main-title span {
    font-size: 15px;
  }

  .first-image {
    overflow-x:hidden ;

  }

  .first-image img {
    height: 30vh;
    width: 37vh;/*50vh*/
  }
  .second-image {
    overflow-x:hidden ;

  }

  .second-image img {
    height: 70vh;
    width: 40vh;
    transform: rotate(360deg);
    /* transform: translateX(-45px); */
  }

  .third-image img {
    width: 40vh;
    height: 45vh; /*value before 60vh*/
  }

  .carousel-container {
    position: relative;
    width: 30vh;
    height: 50vh;
    overflow: hidden;
    padding: 0px 60px 0px 60px!important;
  }
  .carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-200%);
    
    color: #000;
    border: none;
    padding: 10px;
    font-size: 28px;
    font-weight: 700;
    background: none;
  }

  .carousel-label {
    position: absolute;
    bottom: 10px;
    left: 12%;
    transform: translateY(120%);
    padding: 10px;
    /* background-color: rgba(0, 0, 0, 0.7); */
    color: #000;
    /* font-size: 60px;
      font-weight: bold; */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    width: 200px;
    /* height: 100px; */
    object-fit: cover;
  }

  .content-over-img-first h1 {
    font-size: 15px;

  }

  .content-over-img-second h1 {
    font-size: 15px;
    padding-left: 14px!important;
  }
  .content-over-img-second ul {
    position: absolute;
    transform: translateY(-140px);
  }
  
  .yoy{
    margin-bottom: 20px;
    
  }

  .first-image img {
    height: 30vh;
    width: 50vh;
  }

  .second-image img {
    /* height: 70vh;
    width: 70vh;
    transform: rotate(360deg);
    right: 20%; */
    /* transform: translateX(-45px); */
    position: relative;
    height: 150vh;
    width: 60vh;
    transform: rotate(360deg);
    right: 15%;
  }

  .third-image img {
    width: 40vh;
    height: 70vh;
    padding: 25px 0px 15px 30px;
  }

  .carousel-arrow-left {
    left: 0px;
    /* margin-right: 20px;  */
  }
  
  .carousel-arrow-right {
    right: 20px;
    /* margin-left: 20px;  */
  }
.month-content{
  text-align: left;
  font-size: 10px;
  padding: 0px 20px;
}
  .bold-content{

    font-size: 15px!important;
    font-weight: 600;
    color: #454545;

  }

  .holiday-img {
    width: 15vh;
    height: 30vh;   
  }

  .holiday-text
  {
    font-size: 10px;
  }
.holiday-section {
  display: flex;
  position: relative;
}
  .holiday-img-section{
    display: flex;
  }
 
  .holiday-image-one  {
    
    padding: 20px;
    width: 15vh;
    height: 30vh;

  }

  .holiday-image-two{
    width: 15vh;
    height: 30vh;

    
    padding: 20px;
  }
  .holiday-text {
    position: absolute;
    top: 30%;
    left: 35%;
    text-align: left;
    padding: 0px 26px;
  }

  .sixth-image-container{
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sixth-image img {
    max-width: 35vh;
    max-height: 60vh;
    /* transform: rotate(90deg); */
    padding: auto;
    padding-top: 50px;
  }
  .seventh-image-container {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .seventh-image img{
    
    max-width: 50vh;
    /* max-height: 41vh; */
  }

  .blur-section {
    position: relative;
    overflow: hidden;
    height: 33vh;
    padding-top: 20px;
  }
  
  .blur {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .blur img {
    position: relative;
    z-index: 2;
    height: 30vh;
    width: 40vh;
  }
  
  .blur-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(35px); /* Adjust the blur amount as desired */
    background-image: url('./assets/blur-backg.jpg');
    z-index: 1;
    background-size: cover;
  }
  
  .blur-section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateZ(-1px) scale(2);
    filter: blur(8px); /* Adjust the blur amount as desired */
    background-image: url('./assets/doctor-blur-main.png');
    background-size: cover;
  }
  .audio-img-section{
    display: flex;
    padding: auto;
    padding: 0px 30px;
  }

.audio-image img{
  width: 15vh;
  height: 30vh;
  border-radius: 20px;
}
.audio-image {
  padding: 20px;
}

.video-image-one{
  padding: 20px;
}
.video-image-two {
  padding: 20px;
}
.video-image-one img{
  width: 15vh;
  height: 30vh;
  border-radius: 20px!important;
  object-fit: cover;
  background-size: cover;
} 
.video-image-two img {
  width: 15vh;
  height: 30vh;
  border-radius: 20px!important;
  object-fit: cover;
  background-size: cover;
}

.feedback-section img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-size: cover;
}

}

@media (max-width: 412px) {
  /* .logo {
    font-size: 10px;
  }

  .homepage {
    padding: 0px 10px;
  }

  .main-title {
    font-size: 15px;
    padding-top: 20px;
    margin: 20px;
  }

  .main-title p {
    font-size: 15px;
  }

  .main-title span {
    font-size: 15px;
  }

  .first-image img {
    height: 30vh;
    width: 50vh;
  }

  .second-image-container {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  .second-image img {
    
    position: relative;
    height: 150vh;
    width: 60vh;
    transform: rotate(360deg);
    
  }

  .third-image-conatiner {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  .third-image img {
    width: 55vh;
    height: 75vh;
    padding: 10px 0px 0px 10px;
  }

  .sixth-image-container{
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

  .sixth-image {
    width: 55vh;
    height: 60vh;
  }

  .seventh-image-container {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .seventh-image img{
    padding-top: 20px;
    max-width: 50vh;
    
  }

  .carousel-container {
    position: relative;
    width: 30vh;
   
    height: 50vh;
   
    overflow: hidden;
    margin: auto;
    padding: 0px 60px 0px 60px!important;
  }

  .carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-200%);
    
    color: #000;
    border: none;
    padding: 10px;
    font-size: 28px;
    font-weight: 700;
    background: none;
  }

  .carousel-arrow-left {
    left: -10px;
    
  }
  
  .carousel-arrow-right {
    right: -10px;
    
  }

  .carousel-label {
    position: absolute;
    bottom: 10px;
    left: 12%;
    transform: translateY(120%);
    padding: 10px;
    
    color: #000;
    
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    width: 200px;
   
    object-fit: cover;
  }

  .content-over-img-first h1 {
    font-size: 15px;
  }

  .content-over-img-second h1 {
    font-size: 15px;
    padding-left: 14px!important;
  }
  .content-over-img-second ul {
    position: absolute;
    transform: translateY(-140px);
  }
  
  .yoy{
    margin-bottom: 20px;
    
  } */


  .fade-in-on-scroll {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .fade-in-on-scroll.fade-in {
    opacity: 1;
  }
  
  .logo {
    font-size: 10px;
  }

  .homepage {
    padding: 0px 10px;
  }

  .main-title {
    /* font-size: 15px;
    padding-top: 20px;
    margin: 20px; */
    font-size: 32px;
    padding-top: 20px;
    margin: 0px 25px 45px 0px;
  }

  .main-title p {
    /* font-size: 15px; */
    font-size: 32px;
  }

  .main-title span {
    font-size: 32px;
  }

  .first-image img {
    height: 30vh;
    width: 50vh;
  }

  .second-image img {
    height: 70vh;
    width: 40vh;
    transform: rotate(360deg);
    /* transform: translateX(-45px); */
  }

  .third-image img {
    /* width: 40vh;
    height: 60vh; */
    width: 375px;
    height: 462px;
    padding: 80px 0px;

  }
  .third-image {
    background-color: #acc5ca;
    height: 600px;
}

  .carousel-container {
    position: relative;
    width: 30vh;
    height: 50vh;
    overflow: hidden;
    padding: 0px 60px 0px 60px!important;
  }
  .carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-200%);
    
    color: #000;
    border: none;
    padding: 10px;
    font-size: 28px;
    font-weight: 700;
    background: none;
  }

  .carousel-label {
    position: absolute;
    bottom: 10px;
    left: 12%;
    transform: translateY(120%);
    padding: 10px;
    /* background-color: rgba(0, 0, 0, 0.7); */
    color: #000;
    /* font-size: 60px;
      font-weight: bold; */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    width: 200px;
    /* height: 100px; */
    object-fit: cover;
  }

  .content-over-img-first h1 {
    font-size: 15px;

  }

  .content-over-img-second h1 {
    font-size: 15px;
    padding-left: 14px!important;
  }
  .content-over-img-second ul {
    position: absolute;
    transform: translateY(-140px);
  }
  
  .yoy{
    margin-bottom: 20px;
    
  }

  .first-image img {
    height: 30vh;
    width: 50vh;
  }

  .second-image img {
    /* height: 70vh;
    width: 70vh;
    transform: rotate(360deg);
    right: 20%; */
    /* transform: translateX(-45px); */
    position: relative;
    height: 150vh;
    width: 60vh;
    transform: rotate(360deg);
    right: 15%;
  }

  .third-image img {
    width: 40vh;
    height: 70vh;
    padding: 25px 0px 15px 30px;
  }

  .carousel-arrow-left {
    /* left: 0px; */
    /* margin-right: 20px;  */
left: -5px;
  }
  
  .carousel-arrow-right {
    /* right: 20px; */
    /* margin-left: 20px;  */
    right:-10px;
  }
.month-content{
  text-align: left;
  font-size: 10px;
  padding: 0px 20px;
}
  .bold-content{

    font-size: 15px!important;
    font-weight: 600;
    color: #454545;

  }

  .holiday-img {
    width: 15vh;
    height: 30vh;   
  }

  .holiday-text
  {
    font-size: 10px;
  }
.holiday-section {
  display: flex;
  position: relative;
}
  .holiday-img-section{
    display: flex;
  }
 
  .holiday-image-one  {
    
    padding: 20px;
    width: 15vh;
    height: 30vh;

  }

  .holiday-image-two{
    width: 15vh;
    height: 30vh;

    
    padding: 20px;
  }
  .holiday-text {
    position: absolute;
    top: 30%;
    left: 35%;
    text-align: left;
    padding: 0px 26px;
  }

  .sixth-image-container{
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sixth-image img {
    max-width: 35vh;
    max-height: 60vh;
    /* transform: rotate(90deg); */
    padding: auto;
    padding-top: 50px;
  }
  .seventh-image-container {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .seventh-image img{
    
    /* max-width: 50vh; */
    /* max-height: 41vh; */
    width:  333px;
    height: 283px;
    padding-top: 20px;
  }

  .blur-section {
    position: relative;
    overflow: hidden;
    height: 33vh;
    padding-top: 20px;
  }
  
  .blur {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .blur img {
    position: relative;
    z-index: 2;
    height: 30vh;
    width: 40vh;
  }
  
  .blur-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(35px); /* Adjust the blur amount as desired */
    background-image: url('./assets/blur-backg.jpg');
    z-index: 1;
    background-size: cover;
  }
  
  .blur-section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateZ(-1px) scale(2);
    filter: blur(8px); /* Adjust the blur amount as desired */
    background-image: url('./assets/doctor-blur-main.png');
    background-size: cover;
  }
  .audio-img-section{
    display: flex;
    padding: auto;
    padding: 0px 30px;
  }

.audio-image img{
  /* width: 15vh;
  height: 30vh;
  border-radius: 20px; */
  width: 137px;
    height: 284px;
}
.audio-image {
  padding: 20px;
}

.video-image-one{
  padding: 20px;
}
.video-image-two {
  padding: 20px;
}
.video-image-one img{
  /* width: 15vh;
  height: 30vh;
  border-radius: 20px!important;
  object-fit: cover;
  background-size: cover; */
  width: 138px;
    height: 285px;
    border-radius: 20px!important;
} 
.video-image-two img {
  /* width: 15vh;
  height: 30vh;
  border-radius: 20px!important;
  object-fit: cover;
  background-size: cover; */
  width: 138px;
  height: 285px;
  border-radius: 20px!important;
}

.feedback-section img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-size: cover;
}
.doctor-profile-section img{
  width: 100%;
  height: 441px;
}
.doctor-cap-one {
  position: absolute;
    left: 10%;
}
.doctor-cap-two {
  position: absolute;
  justify-content: flex-end;
  right: 10%;
  margin-top: -65px;
  
}
.qna {
  width: 100%;
  height: 200vh;
  background:#f0f0f0 ;
}

.doctor-profile-two img{
  width: 271px;
  height: 403px;
  right: 10;
  position: relative;
  left: 30%;
  margin: 50px 0px 0px 0px;
}
}



@media (max-width: 470px) {}

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.iphone {
  width: 730px;
  height: 1460px;
  background-image: url('vertical_iphone_image.jpg');
  background-size: cover;
}

@media only screen and (max-width: 1460px) {
  .iphone {
    width: 1460px;
    height: 730px;
    background-image: url('horizontal_iphone_image.jpg');
    background-size: cover;
  } */
